.about-us {
  background: hsl(0, 0%, 96%);
  overflow-x: hidden;
}
.about-us .background-image {
  background: linear-gradient(rgba(210, 110, 110, 0.5), rgba(153, 72, 18, 0.5)),
    url('../../assets/pumps.jpg');
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-image h1 {
  text-align: center;
  /* font-size: 3rem; */
  color: #fff;
  width: 100%;
  /* opacity: 0;
  animation: zoomIn 3s ease forwards;
  animation-delay: 1.5s; */
  
}
.about-content {
  position: relative;
  opacity: 0;
  animation: slideBottom 3s ease forwards;
  animation-delay: .1s;
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  border-bottom: #333 solid 2px;
  padding: 5rem 0;
}

.about-us p {
  font-size: 1.6rem;
  padding-top: 2rem;
  line-height: 1.5;
  border-radius: 2rem;
  color: #333;
}
.right-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  opacity: 0;
  animation: slideTop 3s ease forwards;
  animation-delay: .5s;
  /* height: 20rem; */
}
.right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.6rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.mission {
  /* padding: 3rem; */
  padding: 5rem 0;
}
.mission-heading,
.core-values h1 {
  width: 50%;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
}
.mission-content {
  margin-bottom: 3rem;
}

.about-us .headings {
  padding: 1rem;
  background-color: var(--light-blue);
  color: #fff;
  color: var(--dark-blue);
  border-radius: 1rem;
}
.vision-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 5rem 0;
}

.vision-container img {
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.core-values {
  padding: 5rem 0;
  border-bottom: #333 solid 2px;
}
.core-values p {
  padding-top: 0;
}

.core-values ul {
  font-size: 1.6rem;
  color: #333;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.core-values ul li h3 {
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  /* background-color: darkgoldenrod; */
  /* background-color: rgb(18, 26, 88); */
  padding: 1rem;
  color: #fff;
  color: #777777;
  border-radius: 1rem;
}

.core-values ul li {
  padding: 2rem;
  line-height: 1.5;
  color: #777777;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
  width: 30rem;
  text-align: center;
}
.about-us .our-strengths {
  padding: 5rem 0;
}
.about-us .our-strengths h1 {
  width: 50%;
  padding: 1rem;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border-radius: 1rem;
}
.about-us .our-strengths p {
  padding-top: 0;
}
.about-us .our-strengths ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 3rem;
  gap: 3rem;
}
.about-us .our-strengths ul li {
  /* height: 20rem; */
  padding-bottom: 2rem;
  padding-right: 1rem;
  /* border-right: orange solid 2px; */
  box-shadow: 0 0.2rem rgba(0, 0, 0, 0.15);
}
.about-us .our-strengths ul li:last-child {
  border-right: none;
}
.about-us .our-strengths ul li:nth-child(3) {
  border-right: none;
}
.about-us .our-strengths ul li h3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #777777;
  padding-bottom: 1rem;
}

/* ANIMATIONS */

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatImage {
  0% {
    /* opacity: 0; */
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    /* opacity: 1; */
    transform: translateY(0);
  }
}
@keyframes circleRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 968px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .about-heading {
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .right-image {
    grid-template-columns: 1fr 1fr;
  }
  .vision-container {
    flex-direction: column-reverse;
  }
  .about-us .our-strengths ul {
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  .vision-heading {
    width: 50%;
    margin: auto;
    text-align: center;
  }

  .about-us .our-strengths h1 {
    margin: auto;
    text-align: center;
  }
}

@media (max-width: 540px) {
  /* .right-image{
    grid-template-columns: 1fr;
  } */
  .about-us .our-strengths ul {
    grid-template-columns: 1fr;
    height: auto;
    text-align: center;
  }
  .core-values ul {
    justify-items: center;
  }
  .background-image h1 {
    font-size: 3rem;
  }
}
