nav {
  background-color: rgba(232, 150, 35, 0.6);
  backdrop-filter: blur(3px);
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  color: #fff;
  transition: 0.3s ease-in-out;
}
nav.scrolled {
  background-color: rgba(246, 147, 9, 0.937);
  backdrop-filter: blur(10px);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navbar .logo a {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  color: #fff;
}
.navbar .image {
  width: 4rem;
  cursor: pointer;
}
.navbar .image img {
  width: 100%;
  height: auto;
}
.logo-text h1 {
  font-size: 2.5rem;
}
.logo-text p {
  font-size: 1.2rem;
}
.navbar .list-menu {
  display: flex;
  gap: 5rem;
  font-size: 1.6rem;
}
.list-menu a {
  font-weight: 500;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  color: #fff;
  text-transform: capitalize;
}
.list-menu a:hover {
  box-shadow: inset 0 -2px 0 0 #fff;
  color: var(--dark-blue);
}
.list-menu a.active {
  padding-bottom: 0.5rem;
  box-shadow: inset 0 -2px 0 0 #fff;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 3px;
}
.hamburger span {
  width: 2.5rem;
  height: 0.3rem;
  background: white;
  transition: 0.3s;
}
.hamburger.active span:nth-child(1) {
  animation: hamburgerTop 0.3s forwards;
}
.hamburger.active span:nth-child(2) {
  animation: hamburgerMiddle 0.3s forwards;
}
.hamburger.active span:nth-child(3) {
  animation: hamburgerBottom 0.3s forwards;
}

@keyframes hamburgerTop {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}
@keyframes hamburgerMiddle {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes hamburgerBottom {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 768px) {
nav{
  width: 100vw;
  left: 0;
}  


  nav.active{
    background-color: rgba(246, 147, 9);
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 3px;
  }
  .navbar .list-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(246, 147, 9);
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 2rem 0;

  }
  .navbar .list-menu.active {
    display: flex;
  }
   .list-menu a.active{
     padding-bottom: 0.5rem;
  box-shadow: none;
  }

  /* .list-menu a:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
} */
}
