@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}
:root {
  --main-color: rgb(2, 2, 14);
  --dark-blue: #023047;
  --light-blue: #92cfef;
}
.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}
.background-image h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  z-index: 2;
}
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
